@media (width < 600px) {
	.header {
		nav {
			flex-direction: column;
			/* gap: 1rem; */
			padding-block: 0;
		}
		p:not(.timer) {
			padding-block: 0;
		}
	}
	.timer {
		padding-block: 1rem;
	}
}
